version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: orders-redis
    command: redis-server --requirepass 123
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    container_name: orders-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: orders_db
    ports:
      - "3306:3306"
